<!DOCTYPE html>
<html lang="en">
@using Microsoft.AspNetCore.Identity
@using SafetyTourism.Areas.Identity.Data
@inject SignInManager<SafetyTourismUser> SignInManager
@inject UserManager<SafetyTourismUser> UserManager
@{
    var isLoggedIn = SignInManager.IsSignedIn(User);
    bool isOperator = false;
    bool isAdmin = false;
    bool isUser = false;
    if (isLoggedIn)
    {
        isOperator = User.HasClaim(c => c.Type == "Operator");
        isAdmin = User.HasClaim(a => a.Type == "Admin");
        isUser = User.HasClaim(u => u.Type == "User");
    }
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">S</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            if (isLoggedIn)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="DestinoTuristicoes" asp-action="Index">Destinos Turísticos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="SurtosEpidemiologicoes" asp-action="Index">Surtos Epidemiológicos</a>
                                </li>
                                if (isOperator || isAdmin)
                                {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="SurtosOcurrencias" asp-action="Index">Ocorrências de Surtos</a>
                                </li>
                                <!--<li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Funcionarios" asp-action="Index">Funcionários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Utilizadors" asp-action="Index">Utilizadores</a>
                </li> -->
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Sintomas" asp-action="Index">Sintomas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Doencas" asp-action="Index">Doenças</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Recomendacoes" asp-action="Index">Recomendações OMS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="GrupoRiscoes" asp-action="Index">Grupos de Risco</a>
                                </li>
                                <!--<li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Recomendacoes" asp-action="Index">Recomendações OMS</a>
                </li>-->
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="GravidadeSurtoes" asp-action="Index">Gravidade de Surtos</a>
                                </li>
                                }
                            }
                        }
                    </ul>
                    <partial name="_LoginPartial.cshtml" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Safety Tourism - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>